.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: large;
    color: black;
}

.nav-links {
    display: flex;
}

.nav-links a {
    padding-right: 20px;
}
